@import '../../../styles/_colors';
@import '../../../styles/_mixins';

.number {
  color: white;
  font-size: 32px;
  font-weight: 800;
}

.result-card {
  @include card;
  width: 100%;
  margin: 8px 0 24px 0;

  .title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 16px 0;
    word-break: keep-all;
    color: $watergreen;

    &.right {
      color: $watergreen;
    }

    &.wrong {
      color: $glowred;
    }
  }

  .icon {
    margin-right: 10px;
    font-size: 19px;
  }

  code {
    font-size: 14px !important;
  }

  .answers {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;

    .answer {
      &.right {
        color: $watergreen;
        font-weight: 800;
      }

      &.wrong {
        color: $glowred;
      }
    }

    .correctAnswer {
      color: $watergreen;
      margin-left: 36px;
      font-weight: 800;
    }
  }
}