@import '../../../styles/_colors';
@import '../../../styles/_mixins';

.home-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .wrapper {
    margin-bottom: 10%;

    .title {
      display: block;
      color: white;
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 24px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      .button {
        @include card;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        max-width: 340px;
        min-height: 256px;
        width: 33%;
        user-select: none;
        transition: all .2s ease-in-out;
        text-decoration: none;
        outline: none;
        color: black;

        &:hover {
          transform: scale(0.96);
          color: $watergreen;
        }

        &:not(:last-child) {
          margin-right: 24px;
        }

        .icon {
          font-size: 32px;
        }

        .label {
          margin: 12px 0 4px 0;
          font-size: 20px;
          font-weight: 800;
        }

        .description {
          color: $darkgrey;
          text-align: center;
          font-size: 16px;
          width: 60%;
        }
      }
    }
  }
}