@import '../../../styles/_colors';
@import '../../../styles/_mixins';

.answer-card {
  @include card;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin: 24px;
  text-align: center;
  transition: all .2s ease-in-out;
  outline: none;

  &:hover {
    transform: scale(0.96);
    color: $watergreen;
  }

  .text {
    font-size: 18px;
    font-weight: 600;
  }
}