.answer-card {
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 12px;
  padding: 24px;
  margin: 24px;
  text-align: center;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(0.96);
    color: #1dd1a1;
  }

  .text {
    font-size: 18px;
    font-weight: 600;
  }
}