@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import './styles/colors';

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: $watergreen;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav {
  padding: 8px;

  .wrapper {
    display: block;
    max-width: 840px;
    margin: auto;
    font-weight: 800;
    font-size: 40px;
    color: white;
    text-decoration: none;

    .icon {
      margin-right: 24px;
    }
  }
}

.view {
  max-width: 840px;
  width: 100%;
  flex-grow: 1;
  margin: 48px auto;
}