.loader {
  display: flex;
  justify-content: center;
}

.transition {
  animation: transition 0.4s forwards;
}

@keyframes transition {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

.quiz-view {
  height: 100%;

  .sup {
    color: white;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;

    .countdown {
      margin-left: auto;
      margin-bottom: 24px;
    }
  }
}